{% extends "base.html" %}

{% block title %}
    Welcome
{% endblock %}


{% block content %}
<div class="my-5 d-flex flex-column justify-content-center h-100 w-100">

    <h1>Your Teacher Account Requires Verification</h1>

    <p>Thank you for your interest in becoming a teacher on our e-learning platform. To maintain the quality and credibility of our teaching community, we review each teacher account to ensure that our students receive the best possible education.</p>

    <p>Your account has been set to inactive status for verification purposes. Our team will carefully review your credentials and qualifications to ensure that you meet our teaching standards. This process may take a short while, and we appreciate your patience.</p>

    <p>If you have any questions or would like to provide additional information to expedite the verification process, please don't hesitate to <a href="mailto:verification@yourwebsite.com">contact us</a>. We are here to assist you and make this process as smooth as possible.</p>

    <p>Thank you for your understanding and for joining our community of educators. We look forward to having you as an active teacher on our platform soon.</p>

</div>
{% endblock %}