{% extends "base.html" %}

{% block title %}SignIn{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center py-4" style="width: 100%; height: 80vh;">
    <h1 class="mb-5">SignIn</h1>
    <div style="max-width: 500px; width: 100%">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <input class="btn btn-primary w-100 mt-3" type="submit" value="Sign In">

            {% if message %}
            <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
                <div class="text-center text-warning mt-4 w-100"></div>
            {% endif %}

            <div class="text-center m-4">
                <p>Don't have an account? <a class="text-decoration-none" href="{% url 'signup-page' %}">SignUp</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}