{% extends "base.html" %}


{% block title %}
Teacher Profile Edit
{% endblock title %}


{% block content %}
<form method="post" enctype="multipart/form-data" class="h-100">
    {% csrf_token %}

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">

                <div class="mb-5 mx-auto text-center">
                    <h1 class="fw-bold mt-5">
                        Edit teacher profile info
                    </h1>
                </div>
            
                <div class="row ">
        
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">
                            {{ form.bio.label}} 
                        </label>
                        {{ form.bio }}
                        <div class="form-text text-end" id="basic-addon4">Limit: 1000 characters.</div>
                    </div>
        
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">
                            {{ form.qualifications.label}} 
                        </label>
                        {{ form.qualifications }}
                    </div>
        
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">
                            {{ form.title.label}} 
                        </label>
                        {{ form.title }}
                    </div>
        
        
                    {% if message %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100 mb-3">Submit</button>
                    </div>
        
                    <div class="mb-3">
                        <a href="{% url 'user-profile-page' %}" class="btn btn-warning w-100 mb-3">Back to Profile</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>
{% endblock content %}